[user]
  name = JJ1LFC
  email = alt@sfc.wide.ad.jp
  signingkey = 181CBC334DD956AD1945402E186AF88265665FBC
[core]
  editor = vim -c \"set fenc=utf-8\"
[credential]
  helper = cache
[gpg]
  program = gpg
[commit]
  gpgsign = true
