/*
/.**

!/dotfiles/
/dotfiles/**
!/dotfiles/.gitconfig
!/dotfiles/.tmux.conf
!/dotfiles/.digrc
!/dotfiles/.vimrc
!/dotfiles/.zshrc
!/dotfiles/.config/
/dotfiles/.config/**
!/dotfiles/.config/starship.toml
!/dotfiles/.config/fish/
/dotfiles/.config/fish/**
!/dotfiles/.config/fish/config.fish
!/dotfiles/.ssh/
/dotfiles/.ssh/**
!/dotfiles/.ssh/authorized_keys
!/dotfiles/.gnupg/
/dotfiles/.gnupg/**
!/dotfiles/.gnupg/gpg-agent.conf
!/dotfiles/.gnupg/sshcontrol
!/dotfiles/.gnupg/gpg.conf

!/README.md
!/LICENSE
!/.gitignore
!/install.sh
!/startup.sh
