/*
/.**

!/cloud-init.yml

!/dotfiles/
/dotfiles/**
!/dotfiles/.gitconfig
!/dotfiles/.vimrc
!/dotfiles/.zshrc
!/dotfiles/.config/
/dotfiles/.config/**
!/dotfiles/.config/fish/
/dotfiles/.config/fish/**
!/dotfiles/.config/fish/fish_variables
!/dotfiles/.config/fish/functions
!/dotfiles/.ssh/
/dotfiles/.ssh/**
!/dotfiles/.ssh/authorized_keys

!/README.md
!/LICENSE
!/.gitignore
!/install.sh
