"$schema" = 'https://starship.rs/config-schema.json'

[[battery.display]]
threshold = 20
style = 'bold red'

[[battery.display]]
threshold = 30
style = 'bold yellow'

[[battery.display]]
threshold = 80
style = 'green'

[directory]
truncation_length = 5
truncation_symbol = '.../'

[hostname]
ssh_only = false
trim_at = ""

[memory_usage]
disabled = false
threshold = 50
format = '|mem [${ram_pct}]($style) '

[shell]
disabled = false
bash_indicator = 'bash'
fish_indicator = 'fish'
zsh_indicator = 'zsh'
powershell_indicator = 'pwsh'
tcsh_indicator = 'tcsh'
cmd_indicator = 'cmd'

[sudo]
disabled = false

[time]
disabled = false

[username]
show_always = true

